/.ICEauthority
/.Xauthority
/.bash_history
/.bash_profile
/.bashrc
/.cache
/.cinnamon
/.config
/.cshrc
/.dbus
/.emacs
/.emacs.d
/.esd_auth
/.gnupg
/.java
/.kshrc
/.local
/.login
/.mailcap
/.mozilla
/.pinerc
/.pki
/.python_history
/.simrc
/.ssh
/.viminfo
/.vimrc
/.vscode
/.vscode-server
/.wget-hsts
/.xsession-errors
/.xsession-errors.old
/Desktop
/Documents
/Downloads
/Music
/Pictures
/Public
/README
/README.dot.files
/Templates
/Videos
/dwarfs
/logisim